apiVersion: kaito.sh/v1beta1
kind: Workspace
metadata:
  name: ${name}
  namespace: ${namespace}
resource:
  labelSelector:
    matchLabels:
      kubernetes.azure.com/agentpool: ${agentpool}
inference:
  preset:
    name: ${presetName}