apiVersion: kaito.sh/v1beta1
kind: Workspace
metadata:
  name: ${name}
  namespace: ${namespace}
resource:
  instanceType: ${instanceType}
  labelSelector:
    matchLabels:
      apps: ${appLabel}
inference:
  preset:
    name: ${presetName}