apiVersion: kaito.sh/v1beta1
kind: Workspace
metadata:
  name: ${name}
  namespace: ${namespace}
  # annotations:
  #   kaito.sh/enablelb: "True"  # Creates LoadBalancer service automatically (testing only, not for production)

resource:
  instanceType: ${instanceType} # Must be GPU-enabled instance type.  Ensure your subscription has quota.
  labelSelector:
    matchLabels:
      apps: ${appLabel}

inference:
  preset:
    name: ${presetName}